{% extends "base.html" %}

{% block title %}Comprar{% endblock %}

{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="dadosModal" tabindex="-1" aria-labelledby="dadosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="post" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title" id="dadosModalLabel">Dados pessoais</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col">
                  {{ form.nome(type="text", class="form-control", placeholder="Nome completo") }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  {{ form.cpf(type="text", class="form-control cpf", placeholder="xxx.xxx.xxx-xx") }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  {{ form.telefone(type="tel", class="form-control phone", placeholder="(xx) xxxxx-xxxx") }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  {{ form.cpf(type="email", class="form-control", placeholder="email@host.com") }}
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Voltar para a lista</button>
              <button type="submit" class="btn btn-primary">Comprar agora</button>
            </div>
          </form>
          </div>
    </div>
  </div>

<main class="container">
    <div class="mt-5 p-5" style="text-align: center;">
        <img width="700px" src="./static/img/banner_anuncio.jpg" class="img-fluid" alt="...">
    </div>

    <div class="container mb-3">
        <h1 class="texto-principal">Carros usados, seminovos e novos em todo o Brasil.</h1>
    </div>
    <div class="row gap-4">
      {% for car in cat %}
        <div class="card" style="width: 18rem;"> 
            <img src="./static/img/{{ car.anexo }}" class="card-img-top" alt="..."> <!--variavel de caminho python-->
            <div class="card-body">
                <h5 class="card-title">{{ car.nome }}</h5> <!--variavel python-->
                <p class="card-text">{{ car.descricao }}</p> <!--variavel python-->
                <hr>
                <p class="card-text">R$ {{ car.valor }}</p>
                
                <!-- Button trigger modal -->
                <button type="button" name="carro" value="{{car.id}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dadosModal">
                  Comprar</button>
            </div>
        </div>
        
        {% endfor %}
      </div>

</main>


{% endblock %}

{% block scripts %}
<script>
  $('.cpf').mask('000.000.000-00', {reverse: true});
  $('.phone').mask('(00) 00000-0000');
</script>
{% endblock %}